@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.reminder {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.reminder-header,
.reminder p {
  margin-top: 0;
  margin-bottom: 0;
}

.reminder-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.reminder-container {
  background: #ebebeb;
  padding: 12px;
}

.reminder p {
  padding: 12px;
}

.reminder input,.reminder textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.reminder textarea,
.reminder input[type="text"],
.reminder input[type="time"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.reminder textarea,
.reminder input[type="text"]:focus,
.reminder input[type="time"]:focus {
  border-color: #888;
}

.reminder input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.reminder input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.reminder input[type="submit"]:focus {
  border-color: #05a;
}